body {
	background-image: url(bg.jpg);
	font-family: Helvita, Sans-serif;
	overflow: hidden;
}

#grayBox {
	background: #A7A7A7;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 5px;
	border-radius: 2px;
}

#fileinput {
	background: #A7A7A7;
	margin: auto;
	width: 400px;
	margin-bottom: 5px;
	border-radius: 2px;
}

p {
	padding: 5px;
	color: #FFFFFF;
}

.content {
    margin: auto;
    width: 60%;
}

.arrow {
	position: relative;
	display: inline-block;
	background: #858585;
	color: #FFFFFF;
}

.left {
	float: left;
	clear: both;
}

.right {
	float: right;
}

.arrows {
	text-align: center;
	margin: 4px;
	padding: 0;
	background: #7C7C7C;
	height: 24px;
	position: relative;
}

.arrows span {
	position: relative;
	top: 3px;
}

#renderSpace {
	margin: auto;
	margin-top: 30px;
	position: relative;
}

.itemstack {
	position: absolute;
	display: inline-block;
	background-repeat: no-repeat;
}

.tooltip {
	padding: 3px;
	color: #FFFFFF;
	background-color: #06003C;
	z-index: 3;
	font-size: small;
	display: inline-block !important;
	border-radius: 5px;
	border: 3px solid #400072;
}

.tooltip-inner {
	text-align: center;
	display: inline-block;
}

.itemlist {
	position: relative;
	margin: auto;
	margin-right: 0;
	width: 230px;
	height: 330px;
	top: -350px;
	text-align: center;
	background: #A7A7A7;
	border-radius: 2px;
}

.itemlist span {
	position: relative;
	top: 3px;
}